.navbar-nav{
    margin: 0 auto;
	float: right;
}
.navbar{
    background-color: #fff;
}
.my-nav{
    background-color: #fff;
	float: right;
}

.font-weight-bold.text-center{
	margin-top: 5px;
}

.slider-image {
    height: 700px;
    background-image: url("../image/homePage.jpg");
    background-position: center;
    background-size: cover;
  }

.slider-image .content {
   color: #fff;
}

.button-all-coll {
	font-size: 24px;
	background-image: url("../image/homePage.jpg");
	margin-top: 10px;
	}

.contact-us{
    background-color: #7a5201;
    height: 80px;
}
.info{
    margin-top: 10px;
    margin-bottom: 50px;
}

.info h5{
    color: #fff;
}
.info h6{
    color: rgb(64, 142, 216);
}

.cards{
    background-color: #f7f7f9;
}
.cards .card{
    margin: 40px 0px 100px 0px;
}
.cards .card-body{
    padding: 20px;
}
.card-text{
    color: grey;
	
}

.footer_content{
    margin:0px;
}
.footer_content img{
    width: 150px;
    height: 150px;
}

.devider{
    border-left: 1px solid rgb(180, 180, 180);
    border-right: 1px solid rgb(180, 180, 180);
}

.blog-heading{
    margin-top: 50px;
}
.blog-heading p{
    margin:0px;
}
.blog-card .card{
    border-radius: 0px;
}
.blog-card .card-body{
    padding:40px;
}


.main-footer{
    margin-top: 20px;
    margin-top: 80px;
    background-color: rgb(49, 33, 33);
    color: #fff;
    padding: 40px;
}
.main-footer p{
    margin:0px;
}